html,body{
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

a {
  color: initial;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 15px;
}